.container-box {
  display: flex;
  gap: 2rem;
  margin: 5rem;
  overflow-x: scroll;

  .card-boxes {
    background: rgb(183, 178, 178);
    padding: 2rem;
    border-radius: 10px;

    .image-cards {
      width: 150px;
      height: 350px;
      object-fit: fill;
    }
  }
}
